@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body, html {
  overflow-x: hidden;
}

.main-window{
  max-width: 100vw;
  overflow-x:hidden;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.header-main{
  display:flex;
  justify-content: center;
}

.culina-logo{
  width: auto;
  height: 150px;
  position:relative;

}



.middle-main{
    gap:3.3125em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;

}

.middle-main a {
    text-decoration: none;
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    font-size: 20px;
    color:#000000;
    margin: 0;
    border: 1px solid transparent ;
    transition: 0.4s ease;
    position: relative;
        
}

.middle-main a::before{
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    width: 0;
    height: 1px;
    background-color: #000000;
    z-index: -1; 
    transition: width 0.8s ease-in-out; 
}

.middle-main a:hover::before{
    width:100%;
    transform: scale(1.05)
}

.middle-main a:hover{
    transform: scale(1.05)
}

.user-info{
  width:320px;
  display: flex;
  flex-direction:row;
  align-items: center;
  gap:0.5em;
  position:relative;
  padding: 0 3vw;
}

.logo-svg{
  width:70px;
  height:70px;  
}

.user-name{
  text-align:center;
  font-size: 1.2em;
}

.user-amount{
  font-size: 1em;
}

.user-data{
  font-family: "Italiana", sans-serif;
  font-weight: 800;
}

.container svg{
  position: relative;
}

.main-section-container{
  padding: 0 3vw;
  height: 100%;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev{
  position:absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height:60px;
  width:60px;
  z-index:1;
  margin: 0 9.5vw;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover
{
    opacity:1;
}


.slick-prev::before,.slick-next::before{
   display:none;    
}

.arrows{
  height:20px;
  width:20px;
  margin: 1px;
}

.recipe-search{
  border:none;
  outline:none;
  height: 25px;
  width: 500px;
  padding:2vh 2vh
}

.reciper-search:active{
  border:none;
  outline:none;
}

.recipe-search-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.recipe-search-panel a{
  position: absolute;
  z-index: 1;
  margin: 0 1vw 0 0vw;
}

.recipe-search-panel input{
  position:relative;
  z-index: 0;
  margin: 0;
  background-color: #D9D9D9;
  height: 25px;
  font-size: 20px;
  border-radius: 2em;
  padding: 2vh 2.8vw 2vh 1vw;
  font-family: "Montserrat", sans-serif;

}

.recipe-search-panel::placeholder{
  padding: 0 6em;
}

.recipe-finder-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

.main-sort-by {
  margin-right: 3vw;
}

.recipe-name {
  margin-left: 3vw;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-size: 5vh;
}

.main-block {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0;
}

.main-filter-block {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  width: 20%;
  background-color: #D9D9D9;
  border-radius: 20px;
}

.main-filter-block-top {
  margin: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-filter-block-clear {
  color: red;
  text-decoration: none;
}

.choose-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  padding: 1vh 1vw;
}

.select-filter {
  margin: 0 2vw;
  height: auto;
}

.main-card-block {
  display: flex;
  height: auto;
  width: 80%;
}

